.dashboardMain {
  display: flex;
}

.dashboardMain .sidebar {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardMain .appView {
  margin-top: 1em;
  width: 85%;
}

.dashboardMain .dashboardTitle {
  color: white;
  width: 20em;
  font-size: 3em;
  font-weight: 700;
}

.dashboardMain .btn.support {
  margin-top: 2.2em;
}

.dashboardMain .vertical-divider {
  border-left: 1px solid gray;
  height: 97vh;
  width: 2em;
  margin: 1.5em;
}

.dashboardMain .horizontal-divider {
  border-bottom: 1px solid gray;
  width: 90%;
  height: 1em;
  margin: 0em 0em 1em 0em;
}

/*
..######..####.########..########.########.....###....########.
.##....##..##..##.....##.##.......##.....##...##.##...##.....##
.##........##..##.....##.##.......##.....##..##...##..##.....##
..######...##..##.....##.######...########..##.....##.########.
.......##..##..##.....##.##.......##.....##.#########.##...##..
.##....##..##..##.....##.##.......##.....##.##.....##.##....##.
..######..####.########..########.########..##.....##.##.....##
*/

.dashboardMain .stationLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.dashboardMain .stationLogoContainer img {
  height: 8em;
  width: 14em;
  border: 1px solid white;
}

.dashboardMain .stationLogoContainer a {
  display: block;
  text-decoration: none;
  background-color: lightgray;
  width: 10em;
  text-align: center;
  margin: -0.3em 0 0 0;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 3;
}

.dashboardMain .controlsContainer {
  position: relative;
  margin-top: 5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardMain .controlsContainer .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardMain .controlsContainer .sideBar_newsUpdates {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1em 1.52em;
  width: 11.75em;
  margin-top: 3em;
  font-size: 1.2em;
  list-style: none;
}

.dashboardMain .controlsContainer .sideBar_newsUpdates li {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.2em;
  width: 9em;
}

.dashboardMain .controlsContainer .sideBar_newsUpdates li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.dashboardMain .controlsContainer .sideBar_newsUpdates li.redBullet::before {
  color: red; /* Change the color */
}

.dashboardMain .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 11em;
  height: 2.5em;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1.5em;
  border: none;
  border-radius: 4px;
}

.dashboardMain .btn .supportIcon {
  height: 3.5em;
  display: inline;
  margin-left: -0.51em;
}

.dashboardMain .btn .supportIcon + span {
  margin-left: -0.52em;
}

.dashboardMain .btn.showDropDown {
  background-color: #b03125;
  color: white;
}

.dashboardMain .btn svg:not(.supportIcon) {
  color: #b03125;
  position: relative;
  top: -0.1em;
  left: 0.31em;
  transition: all 0.3s ease;
}

.dashboardMain .btn.showDropDown svg {
  transform: rotate(180deg);
  color: white;
}

.dashboardMain .btnList {
  position: absolute;
  top: 1.3em;
  left: 0em;
  z-index: 3;
  list-style: none;
  background-color: white;
  width: 100%;
  padding: 0;
}

.dashboardMain .btnList .btn {
  color: #062f6e;
  min-width: 9em;
  font-size: 1em;
}

.dashboardMain .btnList .btn.selected {
  color: white;
  background-color: #b03125;
}

/*
.##.....##....###....####.##....##
.###...###...##.##....##..###...##
.####.####..##...##...##..####..##
.##.###.##.##.....##..##..##.##.##
.##.....##.#########..##..##..####
.##.....##.##.....##..##..##...###
.##.....##.##.....##.####.##....##
*/
.dashboardMain .headerSection {
  display: flex;
}

.dashboardMain .favoritesContainer h3 {
  color: white;
  font-size: 1.42em;
  font-weight: 600;
  margin: 0;
}

.dashboardMain .favoritesContainer .favoritesContainer_items {
  display: flex;
  flex-wrap: wrap;
}

.dashboardMain .favoritesContainer .favoritesContainer_items p {
  color: white;
}

.dashboardMain .favoritesContainer .favorites-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 4em;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 1em;
  text-decoration: none;
}

.dashboardMain .favoritesContainer .favorites-item:not(:first-of-type) {
  margin-left: 1em;
}

.dashboardMain .favoritesContainer .favorites-item svg {
  width: 5em;
  height: 5em;
  margin-right: 0.2em;
  margin-left: -1em;
  color: #062f6e;
}

.dashboardMain .favoritesContainer .favorites-item span {
  margin-left: -0.75em;
  margin-right: 0.52em;
}

.dashboardMain .apps {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 40em;
  overflow-y: auto;
  scrollbar-width: none;
}

.dashboardMain .apps::-webkit-scrollbar {
  display: none;
}

.dashboardMain .apps .app-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 6em;
  border: 1px solid white;
  margin: 1em 5em 1em 0em;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.dashboardMain .apps .app-item .app-item-newFlag {
  position: absolute;
  left: -2.35em;
  background-color: yellow;
  width: 2.3em;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.1em;
}

.dashboardMain .apps .app-item .app-btns_container {
  position: absolute;
  top: 0.51em;
  right: 12.5%;
}

.dashboardMain .apps .app-item .app-btns_container button {
  display: block;
  width: 10em;
  height: 2.5em;
  border: none;
  border-radius: 4px;
  color: white;
}

.dashboardMain .apps .app-item .app-btns_container button.launchAppBtn {
  background-color: #1cd011;
}
.dashboardMain .apps .app-item .app-btns_container button.previewAppBtn {
  background-color: #ffb101;
}

.dashboardMain .apps .app-item .app-btns_container button:first-of-type {
  margin-bottom: 0.7em;
}

.dashboardMain .apps .app-item .app-item--text {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.dashboardMain .apps .app-item .app-item--text button {
  background-color: #062f6e;
  color: #062f6e;
  border: none;
  cursor: pointer;
}

.dashboardMain .apps .app-item .app-item--text span {
  text-decoration: none;
  color: white;
  margin-left: 1em;
  font-size: 1.3em;
}

.dashboardMain .apps .app-item .app-item--image {
  width: 50%;
  height: 100%;
}
