.dashboardMain {
  display: flex;
}

.dashboardMain .sidebar {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardMain .mainContent {
  margin-top: 1em;
  width: 85%;
}

.dashboardMain .dashboardTitle {
  color: white;
  width: 20em;
  font-size: 3em;
  font-weight: 700;
}

.dashboardMain .vertical-divider {
  border-left: 1px solid gray;
  height: 97vh;
  width: 2em;
  margin: 1em 1.5em;
}

.dashboardMain .horizontal-divider {
  border-bottom: 1px solid gray;
  width: 90%;
  height: 1em;
  margin: 1em 0em;
}

/*
..######..####.########..########.########.....###....########.
.##....##..##..##.....##.##.......##.....##...##.##...##.....##
.##........##..##.....##.##.......##.....##..##...##..##.....##
..######...##..##.....##.######...########..##.....##.########.
.......##..##..##.....##.##.......##.....##.#########.##...##..
.##....##..##..##.....##.##.......##.....##.##.....##.##....##.
..######..####.########..########.########..##.....##.##.....##
*/

.dashboardMain .stationLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.dashboardMain .stationLogoContainer img {
  height: 8em;
  width: 14em;
  border: 1px solid white;
}

.dashboardMain .stationLogoContainer a {
  display: block;
  text-decoration: none;
  background-color: lightgray;
  width: 10em;
  text-align: center;
  margin: -0.3em 0 0 0;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 3;
}

.dashboardMain .controlsContainer {
  position: relative;
  margin-top: 5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardMain .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 11em;
  height: 2.5em;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1.5em;
  border: none;
}

.dashboardMain .btn .supportIcon {
  width: 2em;
  height: 1.5em;
  display: inline;
  margin-right: 0.71em;
}

.dashboardMain .btn.showDropDown {
  background-color: #b03125;
  color: white;
}

.dashboardMain .btn.showDropDown svg {
  transform: rotate(180deg);
  color: white;
}

.dashboardMain .btnList {
  position: absolute;
  top: 1.3em;
  left: 0em;
  z-index: 3;
  list-style: none;
  background-color: white;
  width: 100%;
  padding: 0;
}

.dashboardMain .btnList .btn {
  color: #062f6e;
  min-width: 9em;
  font-size: 1em;
}

.dashboardMain .btnList .btn.selected {
  color: white;
  background-color: #b03125;
}

.dashboardMain .btn svg {
  color: #b03125;
  position: relative;
  top: -0.1em;
  left: 0.31em;
  transition: all 0.3s ease;
}

/*
.##.....##....###....####.##....##
.###...###...##.##....##..###...##
.####.####..##...##...##..####..##
.##.###.##.##.....##..##..##.##.##
.##.....##.#########..##..##..####
.##.....##.##.....##..##..##...###
.##.....##.##.....##.####.##....##
*/
.dashboardMain .mainContent .headerSection {
  display: flex;
}

.dashboardMain .mainContent .favoritesContainer h3 {
  color: white;
  font-size: 1.42em;
  font-weight: 600;
}

.dashboardMain .mainContent .favoritesContainer .favoritesContainer_items {
  display: flex;
  flex-wrap: wrap;
}

.dashboardMain .mainContent .favoritesContainer .favoritesContainer_items p {
  color: white;
}

.dashboardMain .mainContent .favoritesContainer .favorites-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 4em;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 1em;
  text-decoration: none;
}

.dashboardMain
  .mainContent
  .favoritesContainer
  .favorites-item:not(:first-of-type) {
  margin-left: 1em;
}

.dashboardMain .mainContent .favoritesContainer .favorites-item img {
  width: 3em;
  height: 3em;
  margin-right: 0.2em;
}

.dashboardMain .mainContent .apps {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.dashboardMain .mainContent .apps::-webkit-scrollbar {
  display: none;
}

.dashboardMain .mainContent .apps .app-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 6em;
  border: 1px solid white;
  margin: 1em 5em 1em 0em;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
}

.dashboardMain .mainContent .apps .app-item .app-item--text {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.dashboardMain .mainContent .apps .app-item .app-item--text button {
  background-color: #062f6e;
  color: #062f6e;
  border: none;
  cursor: pointer;
}

.dashboardMain .mainContent .apps .app-item .app-item--text span {
  text-decoration: none;
  color: white;
  margin-left: 1em;
  font-size: 1.3em;
}

.dashboardMain .mainContent .apps .app-item .app-item--image {
  width: 50%;
  height: 100%;
}

/*
.########.########.....###....##....##..######..####.########.####..#######..##....##
....##....##.....##...##.##...###...##.##....##..##.....##.....##..##.....##.###...##
....##....##.....##..##...##..####..##.##........##.....##.....##..##.....##.####..##
....##....########..##.....##.##.##.##..######...##.....##.....##..##.....##.##.##.##
....##....##...##...#########.##..####.......##..##.....##.....##..##.....##.##..####
....##....##....##..##.....##.##...###.##....##..##.....##.....##..##.....##.##...###
....##....##.....##.##.....##.##....##..######..####....##....####..#######..##....##
*/

.fadeZoom-enter-from,
.fadeZoom-leave-to {
  opacity: 0;
  transform: scale(0);
}

.fadeZoom-enter-to,
.fadeZoom-leave-from {
  opacity: 1;
  transform: scale(1);
}

.fadeZoom-enter-active,
.fadeZoom-leave-active {
  transition: all 0.2s ease;
}

.fadeFromAbove-enter-from,
.fadeFromAbove-leave-to {
  opacity: 0;
  transform: translateY(-3em);
}

.fadeFromAbove-enter-to,
.fadeFromAbove-leave-from {
  opacity: 1;
  transform: translateY(0em);
}

.fadeFromAbove-enter-active,
.fadeFromAbove-leave-active {
  transition: all 0.2s ease;
}
