.loginView {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.loginView .logoContainer {
  color: white;
  width: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginView .titleFormContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.loginView .logoContainer img {
  width: 74%;
  height: 14em;
  margin-right: 4em;
}

.loginView .loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loginView .loginContainer form .flexIt {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: baseline;
  position: relative;
}

.loginView .loginContainer form .flexIt input {
  margin-right: 1em;
  margin-bottom: 1em;
  height: 2em;
}

.loginView .loginContainer form .submitBtn {
  width: 10em;
  height: 2.5em;
  background-color: rgb(248, 244, 244);
  border: 1px solid #062f6e;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.loginView .loginContainer form .flexIt .errorMessage {
  margin-right: 1em;
  position: absolute;
  top: 1.2em;
  font-size: 0.8em;
  font-weight: 200;
}

.loginView .loginContainer .loginTitle {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
